# Cache directories
*.ipynb_checkpoints
.pytest_cache
__pycache__
__cache__
*.egg-info
.coverage
**/outputs
joblib/
data/
slurm_output.txt

# IDE specific folders
.vscode

# Config files
benchopt.ini

.DS_Store
coverage.xml

# Results
benchopt_run/
20newsgroup/
mnist_usps/
