# Mandatory to run benchmarks
benchopt==1.6.0

# Mandatory to use slurm
#benchopt[slurm]==1.6.0

# Mandatory for visualization scripts
seaborn==0.12.2

# Already required-by benchopt
# pandas==1.5.3
# numpy==1.26.0
# matplotlib==3.8.2
# scipy==1.10.1

# For preprocessing scripts
sentence_transformers==3.0.0
skrub==0.1.1
torch==2.2.1
torchvision==0.17.1
scikit-learn==1.4.0

# Imported with benchopt install
skada==0.3.0
torch==2.2.1
torchvision==0.17.1
#POT==0.9.1
xgboost==2.0.3
mne==1.6.1
braindecode==0.8.1
moabb==0.5
pyriemann==0.3
sentence_transformers==3.0.0
